language: rust
cache: cargo

env:
  global:
    - PROJECT_NAME=lablog
    - MAKE_DEB=yes
    - DEB_MAINTAINER="Alexander Thaller <alexander@thaller.ws>"
    - DEB_DESCRIPTION="lablog orders notes into projects and subprojects without dictating a specific format"

matrix:
  include:
    # Nightly channel
    - os: osx
      rust: nightly
      env: TARGET=x86_64-apple-darwin
    - os: linux
      rust: nightly
      env: TARGET=x86_64-unknown-linux-musl
      dist: trusty
      sudo: required
      addons:
        apt:
          packages: *musl_packages
  allow_failures:

before_install:
  - export PATH="$PATH:$HOME/.cargo/bin"

install:
  - bash ci/install.sh

script:
  - bash ci/script.sh

before_deploy:
  - bash ci/before_deploy.sh

deploy:
  provider: releases
  api_key:
    secure: Y775wPNDQSvtu1ncGH1lgblr10O96n50e0hlDIxVXKu3LYZuxN/itRzR4r0GemvDUic5DhFHGpVHfYf9cHULzjhZTzK4sPvY2Q16JdFcTrPj0NkHf0W8+TS8FgzRvJPcVOFjX5QCOBASgZwM9iKbxQkv9dYFup0IgOaJQejIYbv7n295121aEmFjZD53npRVjQ0biuBhgjF0yUwV1frl6rTRB+CWtkUDFoB0lcEHjl5BGJuVXfe3FTGvs9ktPIy+bUA/DQuTPUn4C73/FdHtWtZ+buaDlnEShPbcW/jTxmWrFtG/km3TBqd05nQOqF287pQmKHBQyxp+TiQkzh/WjEv1t1n7Ev9H+6puyrfZZQIb4UhE50tj4mvs21rHEQMIvgKK0rKqLMmEAP0G8OzfDYJrmV6oxglbx9gDsMkVeZ9MpuIZY/gpIDs6j0B9qbw9XDjPaEGnlB5DpziaKeE08duzG/SR5LpPMdCQK8Tk66D9hMW42AGyhsOBnp25mFSw4KUbx3L6sAV8FPJ3ZE9nUms+egJ11msp5PxF8SUFGChzadq/0SzXabJQ7cyHLv+XOQv4JLQdWZTtLx7mXYtcuMpz6TntkErKDtB74sKNP5G251flRJqCyeKDqY+pzQL/ukUbou6iuz/qkbgTiALQf59R7JphLzrrbgP2lfcgp0s=
  file_glob: true
  file: ${PROJECT_NAME}-${TRAVIS_TAG}-${TARGET}.*
  skip_cleanup: true
  on:
    condition: $TRAVIS_RUST_VERSION = nightly
    tags: true

branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+.*$/

notifications:
  email:
    on_success: never
