
@media only screen and (min-width: 500px) {

	body {
		padding-left: 1em;
	}
	article {
		padding-left: 4em;
	}
	section {
		padding-left: 4em;
	}
}

input,select,textarea {
	background-color: transparent;
	border: 1px solid #9ba2a6;
	border-radius: 2px;
	color: #37454d;
	font-size: 19px;
	height: 44px;
	padding: 0 12px;
	width: 90%;
}
textarea {
	padding: 8px;
	padding-left: 10px;
}
.sectionbody {
	max-width: 35em;
}
code {
	font-size: 16px;
}
#toctitle {
	display: block;
	font-size: 28.5px;
	line-height: 24px;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
img,object,embed {
	max-width: 95%;
	height: auto;
}
body {
	font-family: sans-serif;
	font-size: 19px;
	line-height: 24px;
	background: #ebeced;
	line-height: 1.5;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	color: #37454d;
}
a:hover {
	border-bottom: 1px solid #697379;
}
a {
	color: #37454d;
	text-decoration: none;
	border-bottom: 1px solid #cdd0d2;
}
pre,xmp,plaintext,listing {
	font-size: 16px;
	line-height: 20px;
	max-width: 95%;
	padding-left: 1em;
}
p {
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	hyphenate: auto;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.25em;
}
table.tableblock {
	border-bottom: solid 2px;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}
table.tableblock tr.even,table.tableblock tr.alt,table.tableblock tr:nth-of-type(even) {
	background: rgba(0, 0, 0, .10);
}
table.tableblock thead,table.tableblock tfoot {
	font-weight: bold;
	border-bottom: solid 1px;
	border-top: solid 2px;
}
tr:hover,table.tableblock:hover tr.even:hover,table.tableblock:hover tr.alt:hover,table.tableblock:hover tr:nth-of-type(even):hover {
	background: rgba(0, 0, 0, .20);
}
dl dt {
	margin-bottom: .3125em;
	font-weight: bold;
}
td.hdlist1 {
	font-weight: bold;
	padding-right: 1.25em;
}
table tr td i {
	padding: .5625em .625em;
}
.admonitionblock>table td.icon {
	text-align: center;
	width: 150px;
}
.admonitionblock td.icon [class^="fa icon-"] {
	font-size: 2.5em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
.admonitionblock td.icon .icon-note:before {
	content: "\f05a";
	color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
	content: "\f0eb";
	text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
	color: #111;
}
.admonitionblock td.icon .icon-warning:before {
	content: "\f071";
	color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
	content: "\f06d";
	color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
	content: "\f06a";
	color: #bf0000;
}
.admonitionblock td.content>.title,.audioblock>.title,.exampleblock>.title,.imageblock>.title,.listingblock>.title,.literalblock>.title,.stemblock>.title,.openblock>.title,.paragraph>.title,.quoteblock>.title,table.tableblock>.title,.verseblock>.title,.videoblock>.title,.dlist>.title,.olist>.title,.ulist>.title,.qlist>.title,.hdlist>.title {
	font-style: italic;
}
#projects_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
